{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body style="background:url({% static 'images/destination_4.jpg' %});background-size:cover;">
<h1 style="text-align:center;color:white;">Register here</h1>
<form action="register", method="post", style="text-align:center;font-size:200%;">
    {% csrf_token %}
    <input type="text", name="username", placeholder="Enter your Username"><br>
    <input type="text", name="first_name", placeholder="First Name"><br>
    <input type="text", name="last_name", placeholder="Last Name"><br>
    <input type="email", name="email", placeholder="Email ID"><br>
    <input type="password", name="password", placeholder="Password"><br>
    <input type="password", name="password1", placeholder="Confirm Password"><br>
    <input type="submit">

</form>
{% for msg in messages %}
<h2 style="text-align:center;color:red;">{{msg}}</h2>
{% endfor %}
</body>
</html>